#root{
  height: 100vh;
  font-family: 'Patrick Hand', cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-weight: 100;
}

.loader-container{
  margin-top: 1%;
  text-align: center;
}

.ant-layout-header {
    height: 10rem !important;
    padding: 30px 50px !important;
    color: rgba(0, 0, 0, 0.65);
    line-height: 64px;
    background: #FFFFFF !important;
}

h4.ant-typography {
  line-height: 3 !important;
}

h1.ant-typography {
  margin-bottom: 0.1em !important;
}

.ant-layout-content{
  padding: 20px 50px 0 50px !important;
}

Footer{
  background: transparent !important;
  text-align: center;
}

@media only screen and (max-width: 637px) {
  .ant-layout-header {
    height: 10rem !important;
    padding: 10px 15px !important;
    color: rgba(0, 0, 0, 0.65);
    line-height: 64px;
    background: #FFFFFF !important;
}
}@media only screen and (max-width: 480px) {
  h1.ant-typography {
    font-size: 30px !important;
  }
}